<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container navbar-container">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">
        <span><img src="{{ "img/logo.png" | relURL }}" width="32" height="32"></span>
        </a>
    </div>
    <div id="navbar" class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
            <li ><a href="https://github.com/easydiffusion/easydiffusion#installation">Download</a></li>
            <li ><a href="https://github.com/easydiffusion/easydiffusion/wiki">Docs</a></li>
            <li><a href="https://github.com/easydiffusion/easydiffusion" target="_blank">Code</a></li>
            <li><a href="{{ "blog" | relURL }}">Blog</a></li>
        </ul>
    </div>
    </div>
</nav>